# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/

# IDE settings
.vs/
*.csproj
*.sln
*.user
*.suo

# Rider
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# .bmad-core/
.bmad-*/
.agent/
.gemini/
.github/
.claude/
# BMad directories
_bmad/
_bmad-output/
.bmad-*/
._bmad/
.cursor/
.assets/
.assets*/